body {
    overflow-x: hidden;
    font-size: 16px !important;
    margin: 0px;
    padding: 0px;
    color: #313131 !important;
}


/* temp */
.termsandcondition{
    margin-bottom:8rem;
}
.scooter {
    position: absolute;
    top: 20%;
    right: 42%;
    width: 2rem;
}

@media(max-width: 767px) {
    .scooter {
        top: 25%;
        right: 10%;
        top: 42%;
        right: 40%;
    }
    .termsandcondition{
        margin-bottom:2rem;
    }
}

/* navbar css starts */
.nav-link {
    color: #000 !important;
    text-transform: capitalize;
}

.navbar .nav-item:not(:last-child) {
    padding-right: 48px;
}

.nav-link:hover {
    transition: 0.3s all ease-in;
    color: #31D7B7 !important;
}

.fa-bars {
    color: #000;
}

.jumbotron {
    background: transparent;
}

.landing-page-bold {
    font-weight: bold;
    text-transform: uppercase;
}

.landing-wrapper-block p {
    font-size: 18px;
    color: #313131;
    margin-bottom: 8px;
}

.underline-box {
    width: 78px;
    height: 4px;
    border-radius: 2px;
    background-color: #0dd0aa;
    margin: 32px auto;
}

.underline-box-small {
    width: 39px;
    height: 4px;
    border-radius: 2px;
    background-color: #0dd0aa;
    /* margin: 24px auto 16px auto; */
    margin: 24px 0;


}

.content {
    margin-bottom: 25px;
    max-width: 467px;

}

/* h1{
      position: relative;
  }
  h1:after{
    content:'';
    position: absolute;
    left:0;
    bottom: -11%;
    display:inline-block;
    background: #31D7B7;
    height: 0.5rem;
    border-radius: 2rem;
    width: 2.4375rem;
  } */
nav {
    margin-bottom: 76px;
}

select {
    background-color: #fbfbfb;
    color: #848484;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-position: right 5px top 50%;
    border: 1px solid #ced4da;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="94" height="33" viewBox="0 0 94 33"><defs><path id="a" d="M0 .988h32.533V32H0z"/> </defs><g fill="none" fill-rule="evenodd"><path fill="#2C353E" d="M90.83 16.506c0 1.546-.958 2.788-2.579 2.788-1.62 0-2.578-1.242-2.578-2.788 0-1.526.973-2.807 2.578-2.807 1.538 0 2.578 1.338 2.578 2.807zm-7.432 0c0 2.854 1.977 4.871 4.853 4.871 2.873 0 4.871-2.014 4.871-4.87 0-2.823-2.06-4.873-4.89-4.873-2.84 0-4.834 2.058-4.834 4.872zm-3.906 4.7h2.255V7.938h-2.255v13.268zm-3.943-4.7c0 1.546-.957 2.788-2.579 2.788-1.62 0-2.578-1.242-2.578-2.788 0-1.526.974-2.807 2.578-2.807 1.54 0 2.58 1.338 2.58 2.807zm-7.43 0c0 2.854 1.975 4.871 4.851 4.871 2.873 0 4.872-2.014 4.872-4.87 0-2.823-2.06-4.873-4.89-4.873-2.84 0-4.834 2.058-4.834 4.872zm-3.907 4.7h2.255V7.938h-2.255v13.268zm-3.944-4.7c0 1.546-.956 2.788-2.578 2.788-1.622 0-2.578-1.242-2.578-2.788 0-1.526.974-2.807 2.578-2.807 1.538 0 2.578 1.338 2.578 2.807zm-7.43 0c0 2.854 1.976 4.871 4.852 4.871 2.873 0 4.872-2.014 4.872-4.87 0-2.823-2.06-4.873-4.89-4.873-2.84 0-4.834 2.058-4.834 4.872zm-9.263-4.7l-2.034 6.951a.026.026 0 0 1-.023.02.027.027 0 0 1-.025-.018l-2.345-6.953h-2.34l3.28 9.4h2.668l1.805-5.908a.024.024 0 0 1 .024-.018c.011 0 .021.007.024.018l1.804 5.908h2.67l3.26-9.4H50.02l-2.345 6.953a.025.025 0 0 1-.024.017c-.012 0-.02-.008-.024-.018l-2.052-6.952h-2z"/><g transform="translate(0 .012)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path fill="#0DD0AA" d="M25.75 15.815c0-5.183-3.496-9.2-8.732-9.55 4.568 1.27 7.04 5.384 6.69 10.05-.166-4.795-3.626-8.653-8.559-8.419-5.098.146-8.365 4.335-8.365 9.234 0 5.202 3.47 9.242 8.732 9.594-4.569-1.27-7.039-5.386-6.69-10.05.165 4.793 3.626 8.652 8.558 8.418 5.12-.147 8.365-4.363 8.365-9.277M0 15.206C.704 7.19 7.505.966 15.554.988c8.214.023 15.028 6.664 15.032 14.97.004 8.61-7.233 14.977-15.76 14.123 8.387 2.072 16.566-3.456 17.707-12.299C31.833 25.764 25.077 32 17.061 32 8.79 32 1.947 25.333 1.947 16.981c0-8.548 7.294-14.92 15.76-14.074C9.32.835 1.142 6.363 0 15.207" mask="url(#b)"/></g></g></svg>')
}

select:focus {
    outline: 0;
}

.header li {
    margin: auto 2rem;
}

.header a {
    color: black;
}

.header a:hover {
    color: #31D7B7;
    text-decoration: none;
}

.center-wrapper {
    text-align: center;
}

.center-wrapper .heading-main {
    max-width: 100%;
}

.underline-box-center {
    margin: 24px auto 60px;
}

.underline-download-center {
    margin: 0px auto 35px;
}

.heading-main {
    color: #0dd0aa !important;
    font-size: 32px !important;
    font-weight: bold !important;
    max-width: 467px;
}

.heading-content {
    font-size: 12px;
    color: #c7c7c7;
    margin-bottom: 12px;
}

.btn-gradient {
    background: linear-gradient(103deg, #0dd0aa, #0098c1);
    ;
    color: white;
}

/* dropdown css */

/* .dropdown .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
}

.dropdown span {
    display: none;
} */


/* .dropbtn {
    background-color: #3498DB;
    color: #8a8a8a;
    padding: 2px;
    width: 104px;
    height: 32px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    border: solid 1px #e6e6e6;
    background-color: #fbfbfb;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .dropdown-arrow-image {
    width: 10px;
    height: 10px;
    object-fit: contain;
    margin-top: 4px;
    margin-left: 6px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;} */

/* dropdown css ends */


#about {
    padding-top: 80px !important;
}

.padding-top-50 {
    padding-top: 50px;
}

.highlight {
    color: #31D7B7;
    text-decoration: underline
}

.special-text {
    font-size: 12px !important;
    color: #313131 !important;
    margin: 8px auto !important;
    font-weight: normal;
}

.theme-text {
    color: #313131;
}

.combined {
    /* max-width: 29.25rem; */
    max-width: 100%;
    background: #E6F7F8;
    /* margin-top:25px; */
    margin-left: 0;
    border: 1px solid #0dd0aa;
}

.email-message {
    color: #0dd0aa !important;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px !important;
}

.form-inline {
    width: 100%;
}

.download p {
    margin-top: 13px !important;
}

.styled-select::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 93%;
    background-color: rgba(250, 245, 245, 0.58);
    border-radius: 20px;
}

/* .styled-select select option {
    background: lightgrey !important;
} */

.jumbotron input {
    /* margin-left: 1rem;
    border: 0px;
    background: #E6F7F8;
    width: 65%;
    line-height: 42px; */
    margin-left: 20px;
    border: 0px;
    background: transparent;
    width: 55%;
    line-height: 42px;
    border-top-left-radius: 50% !important;
    border-radius: 0 !important;
    border-color: transparent;
    outline-color: transparent;
}

.jumbotron {
    padding: 0 !important;
}

.jumbotron input:focus {
    outline: none;
}

.jumbotron button {
    margin: 0.2rem;

}

.icon-label {
    margin-top: 24px;
    margin-bottom: 32px;
    max-height: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #313131;
    ;
}

.small-content-spacer {
    padding: 4rem 0;
}

.icon-row .icon-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.benefits {
    background-color: #eafffb;
}

.benefits h3 {
    font-size: 20px;
    font-weight: bold;
}

.icon-spacer {
    margin-top: 24px;
    margin-bottom: 12px;
}

.benefits-spacer {
    margin-bottom: 55px;
    padding-right: 20px;
    line-height: 1.38;
}


.testimonials .slide {
    display: flex;
    flex-direction: column;
    background: teal;
    border-radius: 1rem;
    color: white !important;
    margin: 0 0.2rem;
    font-weight: 100;
}

.footer {
    display: flex;
    padding: 3rem;
    background: #F7F7F7;
}



.footer p {
    margin-top: 1.475rem;
    max-width: 272px;
    ;
}

.social {
    margin: 0rem 0.875rem 3rem 0.875rem;
}

.holder {
    display: flex;
    justify-content: space-around;
}

.contact-holder {
    display: flex;

}

.inner-flex {
    display: flex;
}

.inner-flex-content {
    padding-left: 8px;
}

.green-info {
    background-color: #eafffb;
    border-radius: 1rem;
    transition: all 0.3s ease;

}

.info {
    cursor: pointer;
    border-radius: 1rem;
    padding: 18px 20px;
    transition: all 1s ease;
    margin-bottom: 15px;
}

.info p {
    margin-bottom: 0;
}

.footer-heading h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.padding-top-15 {
    padding-top: 15px !important;
}

/* .item{
    width: 20.5rem !important;
    height: 39.6rem !important;
} */
.download-holder {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#phoneimg {
    padding-left: 20%;
}

#myCarousel {
    z-index: 2;
    position: absolute;
    /* top: 3.6rem; */
    /* left: 3.8rem; */
    left: 0px;
    top: 63px;
    /* bottom: 53px; */
    height: 251px;
    width: 461px;
    padding-left: 44%;
}

.info h3 {
    color: #0dd0aa;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.swiper-button-prev {
    /* opacity: 0 !important;
    right: 52px !important; */
    opacity: 0 !important;
    left: 0;
    height: 210px !important;
    width: 9em !important;
    top: 15% !important;
}


.swiper-button-next {
    /* opacity: 0 !important;
    right: 52px !important; */
    opacity: 0 !important;
    right: 0;
    height: 210px !important;
    width: 9em !important;
    top: 15% !important;
}

/* Owl carousel css starts */
/* #testimonial-slider .owl-item {
    opacity:0.2;
}

#testimonial-slider .owl-item.center {
    opacity:1;
} */

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

/* Owl carousel css ends */
.testimonial-card {
    border-radius: 8px;
    background-image: linear-gradient(119deg, #0098c1, #0dd0aa);
    position: relative;
    /* min-width: 23em; */
    height: 14em;
    padding: 12px 25px;
    width: 25em;
    /* margin: auto; */
    margin: 0 8px;
}

.btn:hover {
    color: #fff !important;
}

a:hover {
    transition: 0.3s all ease-in;
    color: #0da3c0 !important;
    cursor: pointer;
}


.owl-item>div {
    cursor: pointer;
    margin: 0;
}

.owl-item.center>div {
    cursor: auto;
    margin: 0 -30%;
    z-index: 2;
    transition: 0.3s all linear;
}

.owl-item:not(.center) {
    z-index: -10;
}

.owl-item:not(.center) div.slider-img-wrapper {
    display: none;
}

.owl-item:not(.center)>div {
    opacity: 1;
    width: auto;
    z-index: -10;
}

/* .owl-item.cloned.active div.testimonial-card {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .owl-item.active div.testimonial-card {
      border-top-left-radius:8px;
      border-bottom-right-radius:8px;
  } */

.testimonial-content h4 {
    font-size: 20px;
}

.testimonial-content p {
    line-height: 23px;
    font-size: 17px;
}

.owl-item:not(.center) div.testimonial-card {
    min-width: 10em;
    background-color: #84DFD8;
    background-image: unset;
    height: 10em;
    padding: 13px 18px;

}

.owl-item:not(.center) div.testimonial-content {
    min-width: 23em;
}

#testimonial-slider .owl-stage {
    display: flex;
    align-items: center;
}

.owl-item.center+.owl-item.active div.testimonial-card {
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

button.owl-prev {
    position: absolute;
    top: 33%;
    left: 21%;
    outline: none;
    background-color: #fff !important;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
}

button.owl-next {
    position: absolute;
    top: 33%;
    right: 16%;
    background-color: #fff !important;
    border-radius: 50%;
    width: 32px;
    outline: none;
    height: 32px;
    display: flex;
    justify-content: center;
}

.slider-img-wrapper {
    position: absolute;
    bottom: -8%;
    display: flex;
}

#testimonial-slider .owl-stage-outer {
    min-height: 18em;
}

.slider-img-content {
    padding-left: 6px;
}

.slider-img-content h4 {
    font-size: 17px;
    margin-bottom: 0px;
}

.owl-dots {
    text-align: center;
}

.owl-dot.active span {
    display: inline-block;
    width: 24px;
    height: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #0dd0aa;
    outline: none;
    transition: 0.3s all linear;
}

.owl-dot span {
    width: 8px;
    height: 8px;
    background-color: #e6e6e6;
    display: inline-block;
    margin-left: 7px;
    border-radius: 50%;
    transition: 0.3s all linear;
    outline: none;
}

button:focus {
    outline: none;
}

.logo-wrapper img {
    width: 148px;
    height: 52.4px;
}


.footer-text {
    color: #313131;
}

.footer-social-wrapper li {
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 28px;
}

.social-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: linear-gradient(119deg, #0098c1, #0dd0aa);
    color: #fff !important;
    text-align: right;
    cursor: pointer;
    margin-right: 28px;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.display-flex {
    display: flex;
}

.footer-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.grey-text {
    color: #848484;
}

.footer-flex-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
}

.padding-top-20 {
    padding-top: 20px;
}

.display-width-wrapper {
    width: 70%;
}

.copyright-links li {
    list-style-type: none;
    display: inline-block;
}

.copyright-text-wrappper {
    display: flex;
    justify-content: space-between;
    color: #848484;
    padding-top: 48px;
}

.copyright-links a {
    color: #848484;
    text-decoration: none;
}

.copyright-links a:hover {
    color: #0dd0aa !important;
}

.heading-wrapper {
    display: flex;
    align-items: center;
    padding-top: 75px;
    min-height: 30em;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* card slider css starts */
.card-slider-block {
    position: relative;
    min-height: 240px;
    width: 24em;
    border-radius: 8px;
    margin: auto;
    z-index: 32;
}

.card-slider-content img {
    max-width: 100%;
    max-height: 5rem;
    margin: 1rem auto;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.card-slider-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: -webkit-center;
    text-align: center;
    padding: 2rem 0.5rem;
}

.padding-top-0 {
    padding-top: 0 !important;
}


/* phone image slider css */
.phone-img-wrapper {
    background: url('assets/group_2019-07-17/group.png');
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
}

.phone-slider-wrapper {
    position: relative;
    padding-right: 3em;
    z-index: 5;
}

.phone-carousel-wrapper {
    position: absolute;
    top: 15%;
    display: flex;
    width: 14.7em;
    margin: 0 auto;
    padding-left: 25px;
}

.phone-carousel-wrapper.owl-carousel .owl-item img {
    width: 200px !important;
}

.padding-top-25 {
    padding-top: 25px;
}

.rounded-selected-wrapper {
    width: 104px !important;
    height: 32px !important;
    border-radius: 20px !important;
    border: solid 1px #e6e6e6 !important;
    /* background-color: #fbfbfb !important; */
    padding-left: 12px !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-selected-item {
    display: flex;
    align-items: center;
}

.transforming-wrapper img {
    position: absolute;
    left: -13rem;
    width: 123%;
    bottom: 0;
}

.logo-heading-wrapper .heading-main {
    font-size: 38px !important;
}

.active {
    color: #0dd0aa !important;
}

.benefits-wrapper-row {
    padding-left: 1em !important;
}


@media screen and (max-width:1200px) {
    #phoneimg {
        padding-left: 22%;
    }

    .dh {
        position: absolute;
        left: 2rem;
        bottom: 0;
        width: 92%;
    }

    #myCarousel {
        padding-left: 42%;
    }
}

@media screen and (max-width:992px) {
    .dh {
        display: none;
    }


    #phoneimg {
        padding-left: 32%;
        margin-bottom: 24px;
    }

    #myCarousel {
        padding-left: 30%;
    }

    .logo-heading-wrapper .heading-main {
        text-align: center;
    }

    .underline-box {
        margin-left: auto !important;
        margin: 30px auto;
    }

    .content {
        max-width: 100%;
    }

    .combined {
        max-width: 100%;
    }

    .about-wrapper {
        text-align: center;
    }

    .underline-box-small {
        margin-left: auto !important;
        margin: 30px auto;
    }

    .benefits-wrapper {
        justify-content: center;
        padding: 1rem 0
    }

    .benefits-wrapper h3 {
        text-align: center;
        padding-top: 1.25rem;
    }

}


@media screen and (max-width:768px) {

    .client-image {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .rounded-pill #form {
        position: relative;
    }

    .rounded-pill #form input {
        width: 100% !important;
        margin: 0 20px;
    }

    .rounded-pill #form button {
        position: absolute;
        top: 3em;
        width: 100%;
    }

    .special-text {
        padding-top: 50px;
        display: inline-block;
    }

    #phoneimg {
        padding-left: 27%;

    }

    .nav-selected-item {
        display: flex !important;
        justify-content: center;
    }

    #myCarousel {
        padding-left: 24%;
    }

    .dh {
        display: none;
    }

    .owl-item>div {
        margin: 0 23px;
    }

    .footer p {
        max-width: 100%;
        margin: 0;
    }

    .footer-text {
        margin-bottom: 20px;
    }

    .heading-main {
        max-width: 100%;
    }

    .header a {
        font-size: 20px;
    }

    .nav-link {
        font-size: 25px;
    }

    .navbar-nav {
        text-align: center;
    }

    .nav-selected-item {
        padding-top: 20px;
    }

    .navbar .nav-item:not(:last-child) {
        padding-right: 0;
    }

    .heading-wrapper {
        min-height: 30em;
    }

    .download-app-wrapper {
        text-align: left !important;
        padding-top: 20px;
    }

    .copyright-links ul {
        padding-left: 0;
    }

    .download button {
        padding: 20px 0px 10px;
    }

    .copyright-text-wrappper {
        display: block;
    }

    .footer-social-wrapper {
        padding: 20px 0 30px;
    }

    .icon-label {
        margin-top: 0;
    }

    .col-sm-6 {
        width: 47%;
    }

    .heading-main {
        font-size: 25px !important;
        padding: 0 10px;
        text-align: center;
    }

    .owl-item.center>div {
        margin: 0;
    }

    .testimonial-card {
        min-width: auto;
    }

    .footer {
        padding: 30px 20px;
    }

    .footer-flex-wrapper.display-flex {
        display: block !important;
    }

    .display-width-wrapper {
        width: 100%;
    }

    .width-wrapper {
        padding-top: 20px;
    }

    .copyright-links a {
        font-size: 13px;
        cursor: pointer;
    }

    .content-spacer {
        margin-bottom: 0;
    }

    .logo-heading-wrapper {
        padding: 0 30px;
    }

    .copyright-links span.mr-3 {
        margin-right: 0 !important;
    }
}

@media (max-width: 640px) {

    .download-holder span{
        display:flex;
        flex-direction: column;

    }

    .logo-heading-wrapper {
        padding-top:60px !important;
    }


    .logo-heading-wrapper .heading-main {
        font-size:30px !important;
    }

    .row {
        margin: 0;
    }

    .sec-wrapper {
        padding-left: 1rem;
    }

    .icon-label {
        padding-top: 1rem;
    }

    .padding-left-1em {
        padding-left: 0 !important;
    }

    .swipper-wrapper {
        width: 22em !important;
    }

    .swipper-wrapper#offers-slider {
        margin-top: 25px;
    }

    .swipper-wrapper.testimonial-swipper-wrapper {
        /* width: 22em !important; */
        width: 100% !important;
    }

    .testimonial-card {
        /* margin: 0;
        width: 22em; */
        margin: 0;
        width: 19.8em;

    }

    .main-text {
        padding-top: 4rem;
    }

    .mobility-heading-wrapper {
        padding-top:90px !important;
    }

    .logo-heading-wrapper .heading-mobility-text {
        font-size:24px !important;
    }

    .theme-text {
        padding-top: 1.5rem;
    }

    .icon-c {
        padding-top: 2rem;
    }

    .benefits {
        padding: 4rem 0;
    }

    .benefits-wrapper {
        padding-top: 25px;
    }

    .benefits-wrapper-row {
        padding-top: 1rem;
        padding-left: 0 !important;
    }

    .fixed-top {
        box-shadow: 0px 2px 54px #d6d5d5 !important;
    }

    .heading-wrapper {
        min-height: auto;
        margin-top: 0;
        padding-top:60px;
    }

    #offers {
        padding: 6rem 0 0 !important;
    }

    .phone-carousel-wrapper.owl-carousel .owl-item img {
        width: 100% !important;
    }

    .phone-slider-wrapper {
        padding-right: 0;
    }

    .phone-carousel-wrapper {
        position: absolute;
        top: 10%;
        display: flex;
        width: 13.9em;
        margin: 0 auto;
    }

    .owl-item>div {
        margin: 0;
    }

    .swipper-wrapper {
        margin: auto !important;
    }

    .testimonial-swiper-wrapper {
        width: 22em !important;
    }

    .download-app-wrapper {
        padding-top:20px !important;
    }

    #about {
        padding-top: 5em !important;
    }

}

@media screen and (max-width:440px) {
    #phoneimg {
        margin-bottom: 50px;
    }

    .download-holder {
        margin-bottom: 65px;
    }

    .jumbotron input {
        width: auto !important;
    }

    .download-holder {
        margin-left: 0;
    }

    .download-holder span {
        display: flex;
    }

    .holder {
        flex-direction: column;
    }

    #da {
        margin-left: auto !important;
    }

    .dh {
        display: none;
    }

    #dn {
        display: none;
    }
}

@media screen and (max-width:376px) {



    #phoneimg {
        padding-left: 18%;
    }

    #myCarousel {
        padding-left: 12%;
    }


    .swiper-wrapper.testimonial-swiper-wrapper {
        width: 22em !important;
    }

    .swipper-wrapper {
        width: 17em !important;
    }

    .card-slider-block {
        width: 17em;
        margin: unset;
        height:96%;
    }

    .download-holder span {
        display: flex;
        flex-direction: column;
    }

    .heading-main {
        text-align: center;
    }

    .underline-box {
        text-align: center !important;
        float: none;
        margin: 20px auto 32px !important;
    }

    .underline-box-small {
        margin: 0px auto 16px auto;
    }

    .testimonial-card {
        height: 16em;
    }

    .testimonial-swiper-wrapper {
        width: 22em !important;
    }
}

@media (max-width:320px) {

    .testimonial-card {
        width: 17em;
        margin: 0 auto;
    }

    .swipper-wrapper {
        width: 17em !important;
    }

    .card-slider-block {
        width: 17em;
        margin: unset;
    }

    .download-holder span {
        display: flex;
        flex-direction: column;
    }

    .heading-main {
        text-align: center;
        padding:0 10px;
    }

}

.swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 44px;
}

.swipper-wrapper {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 43px;
}

.swiper-slide {
    width: 400px;
}

.swiper-pagination.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #e6e6e6;
    display: inline-block;
    margin-left: 7px;
    border-radius: 50%;
    transition: 0.3s all linear;
    outline: none;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    display: inline-block;
    width: 24px;
    height: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #0dd0aa;
    outline: none;
    transition: 0.3s all linear;
}

.swiper-slide:not(.swiper-slide-active) .testimonial-card {
    background: #84dfd8;
    color: #fff;
    height: 12.6em;
}

.swiper-slide:not(.swiper-slide-active) .testimonial-card {
    background: #84dfd8;
    color: #fff;
    height: 13.6em;
}




.swiper-slide-next.swiper-slide div.slider-img-wrapper {
    display: none;
}

.swiper-slide-prev.swiper-slide div.slider-img-wrapper {
    display: none;
}

.navbar {
    transition: all 0.3s ease;
    box-shadow: none;
}

.navbar.scrolled {
    transition: background-color 200ms linear;
    box-shadow: 0px 2px 54px #d6d5d5;
}


#testimonials {
    padding: 4rem 0;
}

#testimonials .swiper-slide.swiper-slide-prev .testimonial-card {
    width: 16em;
    position: relative;
    left: 5.4em !important;
}


#testimonials .swiper-slide.swiper-slide-next .testimonial-card {
    width: 16em;
    position: relative;
    right: -2.7em !important;
}


.swiper-card-wrapper .swiper-slide.swiper-slide-prev .card-slider-block {
    position: relative;
    left: 8.4em !important;
    /* left: 8.4em !important; */
    min-height: 13em;
    z-index: -11;
    opacity: 0.5;
}

.swiper-card-wrapper .swiper-slide.swiper-slide-next .card-slider-block {
    position: relative;
    left: -9.5em !important;
    min-height: 13em;
    z-index: -11;
    /* right: 8.3em !important; */
    opacity: 0.5;
}

#testimonials .swiper-slide:not(.swiper-slide-active) .testimonial-card .testimonial-content,
#testimonials .swiper-slide:not(.swiper-slide-active) .testimonial-card .testimonial-content {
    opacity: 0.5;
}



.swiper-card-wrapper .swiper-slide.swiper-slider-active .card-slider-block::before {
    background-color: transparent !important;
}

#new_card_slider .swiper-slide.swiper-slide-prev .card-slider-block,
#new_card_slider .swiper-slide .card-slider-block {
   left: 8.85em !important;
   position: relative;
}
#new_card_slider .swiper-slide.swiper-slide-next .card-slider-block,
#new_card_slider .swiper-slide.swiper-slide-next + .swiper-slide .card-slider-block {
   left: -7.81em !important;
   position: relative;
}
#new_card_slider .swiper-slide.swiper-slide-active .card-slider-block{
       left: inherit!important;
}

#new_card_slider .swiper-slide.swiper-slide-next .card-slider-block:before,
#new_card_slider .swiper-slide.swiper-slide-prev .card-slider-block:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 1);
}


.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    z-index: 2;
}

/* #new_card_slider .swiper-slide.swiper-slide-duplicate-prev .card-slider-block {
    left: -7.81em !important;
}

#new_card_slider .swiper-slide.swiper-slide-duplicate-next .card-slider-block {
    left: 7.81em !important;
} */

/* .swiper-card-wrapper .swiper-slide.swiper-slider-active .card-slider-image2::before {
    background-color:transparent !important;
}

.swiper-card-wrapper .swiper-slide.swiper-slider-active  .card-slider-image3::before {
    background-color:transparent !important;
} */

.card-slider-image1 {
    background-image: url('assets/images/rectangle-slider-1.png');
    background-repeat: no-repeat;
    position: relative;
}

.card-slider-image1::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    opacity: 0.5;
    /* background: rgb(252, 96, 188);
    background: linear-gradient(90deg, rgba(252, 96, 188, .4) 0%, rgba(252, 153, 68, .4) 100%); */
    transition: all 1s ease;
}

.swiper-slide.swiper-slide-active .card-slider-image1::before {
    opacity: 1;

    /* background: linear-gradient(90deg, rgba(253, 175, 221, 0.7) 0%, rgba(252, 153, 68, 0.99) 100%); */
}

/*CARD 2*/
.card-slider-image2 {
    background-image: url('assets/images/rectangle-slider-3.png');
    background-repeat: no-repeat;
    position: relative;

}

.card-slider-image2::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    opacity: 0.5;
    /* background: rgb(73, 90, 255);
    background: linear-gradient(90deg, rgba(73, 90, 255, .4) 0%, rgba(10, 207, 254, .4) 100%); */
    transition: all 0.8s ease;
}

.swiper-slide.swiper-slide-active .card-slider-image2::before {
    opacity: 1;
    /* background-color: linear-gradient(90deg, rgb(73, 90, 255, 0.7)0%, rgb(10, 207, 254, 0.99), 100%); */
}

/*CARD 3*/
.card-slider-image3 {
    background-image: url('assets/images/rectangle-slider-2.png');
    background-repeat: no-repeat;
    position: relative;
}

.card-slider-image3::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    opacity: 0.5;
    /* background: rgb(238, 96, 156);
    background: linear-gradient(90deg, rgba(238, 96, 156, .4) 0%, rgba(180, 101, 218, .4) 100%); */
    transition: all 0.8s ease;
}

/*CARD 4*/
.card-slider-image4 {
    background-image: url('assets/images/rectangle-slider-4.png');
    background-repeat: no-repeat;
    position: relative;
}

.card-slider-image4::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    opacity: 0.5;
    /* background: rgb(238, 96, 156);
    background: linear-gradient(90deg, rgba(238, 96, 156, .4) 0%, rgba(180, 101, 218, .4) 100%); */
    transition: all 0.8s ease;
}

.swiper-slide.swiper-slide-active .card-slider-image3::before {
    opacity: 1;
    /* background-color: linear-gradient(90deg, rgb(238, 96, 156, .7)0%, rgb(180, 101, 218, .99), 100%); */
}



.padding-left-1em {
    padding-left: 1em;
}

.swiper-card-wrapper .swiper-slide.swiper-slide-prev {
    display: flex;
    align-items: center;
}

.swiper-card-wrapper .swiper-slide.swiper-slide-next {
    display: flex;
    align-items: center;
}

#offers {
    padding: 4rem 0;
}

#offers-slider .swiper-slide.swiper-slider-active .card-slider-image1::before {
    background-color: unset !important;
}

#testimonials .swiper-slide:not(.swiper-slide-active) .testimonial-card .testimonial-content {
    opacity: 0.5;

}



/* select wrapper styling  */
.styled-select {
    width: 100px;
    height: 34px;
    overflow: hidden;
    background: url('assets/images/down.png') no-repeat;
    display: inline-block;
    position: relative;
    background-size: 10%;
    background-position-y: center;
    background-position-x: 72px;
}

.styled-select select {
    /* background: #fbfbfb; */
    padding-left: 5px;
    -webkit-appearance: none;
    width: 100px !important;
    font-size: 14px;
    border: 0;
    height: 17px;
    position: absolute;
    left: 0;
    top: 0;
}

@media(max-width: 992px) {

    .icon_select_mate.active .cont_list_select_mate .cont_select_int {
        height:65px !important;
    }

    .change {
        margin-top: 2rem;
    }

    .swipper-wrapper {
        margin: 0;
    }

    .navbar-collapse.show {
        transition:0.3 all ease-in;
        padding-bottom:40px;
    }
}

/* CSS  */

.cont_select_center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -150px;
}

.cont_heg_50 {
    position: absolute;
    height: 50%;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fd7b52;
}


.icon_select_mate {
    position: absolute;
    top: 4px;
    padding-left: 0.1rem;
    right: 10%;
    font-size: 14px;
    height: px;
    transition: all 275ms;
}

.icon_select_mate.active {
    top: 5px !important;
}

.icon_select_mate img {
    width: 10px;
}

.select_mate {
    position: relative;
    float: left;
    min-width: 100px;
    width: 100px;
    min-height: 34px;
    font-family: inherit;
    color: #777;
    font-weight: 300;
    background-color: #fbfbfb;
    border-radius: 2rem;
    border: solid 1px #e6e6e6 !important;
    transition: all 375ms ease-in-out;
}

.select_mate select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}

.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    /* height: 67px !important; */
    top: 5px;
    border-radius: 9px !important;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fbfbfb;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 3px 3px 5px 5px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;
}

.cont_select_int li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fbfbfb;
    list-style-type: none;
    padding: 4px 10%;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
}

.cont_select_int li:last-child {
    border-radius: 3px;
    border-bottom: 0px;
}

.cont_select_int li:hover {
    background-color: #eee;
}

.cont_select_int .active {
    background-color: #eee;
}

.selecionado_opcion {
    /* padding: 10px 10%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer; */
    border-radius: 20px;
    margin-bottom: 0px;
    border: 0px solid #e6e6e6;
    background-color: #fbfbfb;
    padding: 4px 11px;
    cursor: pointer;
}

@media(max-width:640px) {

    #new_card_slider .swiper-slide.swiper-slide-next .card-slider-block:before,
    #new_card_slider .swiper-slide.swiper-slide-prev .card-slider-block:before {
        display: none;
    }

    .icon-label {
        max-height: 100%;
        text-align: center;
    }

    .justify-mobile-center {
        justify-content: center;
    }

    .icon-row .icon-c {
        justify-content: flex-start;
    }
}


/* imprint */

.content-main {
    padding: 6rem 5rem 5rem 5rem;
    padding-top: 6rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.content-main-header {
    font-size: 3rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 2rem;
    text-align: center;
}

.content-main h3 {
    font-size: 2rem;
    font-family: inherit;
    font-weight: bold;
    padding: 3rem 0 1rem 0;
}

.content-main p {
    color: #777;
    font-size: 1.2rem;
}

.content-main-footer {
    padding: 3rem 0 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.content-main-footer a {
    color: #aaa;
    font-size: 1.2rem;
    padding: 0rem 0 1rem 1rem;
    padding-left: 1rem;
    padding-top: 1rem;

    text-decoration: none;
}

@media (max-width:768px) {
    .content-main {
        padding: 6rem 1.2rem 0 1.2rem;
    }

    .content-main-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

    }
}

@media (max-width: 320px) {
    .padding-mobile-0 {
        padding:0 !important;
    }
}